.header-service {
    position: relative;
    background-size: cover;
    background-position: center;
    // &__bg {
    //     width: 100%;
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     height: 520px;
    //     border-radius: 0px 0px 49px 49px;
    //     @include tablet {
    //         height: 505px;
    //     }
    //     // &::after {
    //     //     content: '';
    //     //     background-image: url("data:image/svg+xml,%3Csvg width='1598' height='854' viewBox='0 0 1598 854' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M252.949 735.785L151.31 773.018L129.413 713.244L219.225 680.344L219.694 680.172L219.522 679.703L200.459 627.663L200.287 627.194L199.817 627.366L110.006 660.266L89.842 605.223L191.48 567.99L191.95 567.818L191.778 567.348L171.992 513.338L171.82 512.868L171.351 513.04L1.82801 575.141L1.35852 575.313L1.53051 575.783L102.914 852.539L103.086 853.008L103.556 852.836L273.078 790.735L273.548 790.563L273.376 790.094L253.59 736.083L253.418 735.613L252.949 735.785ZM453.162 664.677L365.322 696.856L283.174 472.609L283.002 472.139L282.532 472.311L215.118 497.007L214.648 497.179L214.82 497.649L316.204 774.405L316.376 774.874L316.845 774.702L472.569 717.656L473.039 717.484L472.867 717.014L453.803 664.975L453.631 664.505L453.162 664.677ZM581.63 636.349L581.636 636.353C596.159 645.721 612.688 650.752 631.211 651.453C649.725 652.153 669.128 648.781 689.417 641.348C710.237 633.721 726.916 623.277 739.431 610.003C751.938 596.739 759.798 582.17 762.986 566.301C766.435 550.344 765.252 534.433 759.445 518.579C753.351 501.943 744.258 489.799 732.144 482.198C720.085 474.632 707.351 470.151 693.947 468.763C680.856 467.284 664.259 466.798 644.162 467.3L644.155 467.301C624.175 468.065 609.105 467.489 598.921 465.587C588.835 463.703 582.235 458.386 579.029 449.633C576.081 441.587 576.334 434.656 579.696 428.78L579.7 428.774L579.703 428.767C582.99 422.601 588.633 418.03 596.691 415.078C606.061 411.646 614.651 411.449 622.489 414.44L622.501 414.444C630.225 417.171 635.967 422.82 639.719 431.456L639.907 431.889L640.35 431.727L713.284 405.009L713.778 404.828L713.572 404.344C702.676 378.687 685.172 361.995 661.062 354.326C636.877 346.401 609.489 348.066 578.927 359.262C548.889 370.266 527.17 386.59 513.828 408.261C500.373 429.697 498.405 453.384 507.888 479.271C514.269 496.691 523.551 509.361 535.761 517.226C547.917 525.057 560.701 529.671 574.108 531.059C587.466 532.442 604.103 532.617 624.012 531.588L624.017 531.588C637.71 530.743 648.351 530.564 655.95 531.046L655.957 531.046C663.796 531.431 670.73 533.029 676.767 535.829L676.774 535.832L676.78 535.835C683.015 538.512 687.356 543.188 689.815 549.9C692.752 557.919 692.222 565.257 688.26 571.963C684.192 578.423 677.234 583.487 667.316 587.121C657.681 590.65 648.962 590.894 641.128 587.905C633.205 584.657 626.851 578.178 622.085 568.397L621.888 567.991L621.464 568.146L549.712 594.431L549.229 594.608L549.42 595.086C556.621 613.109 567.355 626.873 581.63 636.349ZM978.451 369.304L978.451 369.3C980.913 353.113 979.191 336.962 973.29 320.854C966.909 303.437 957.42 289.382 944.813 278.707C932.198 268.024 916.818 261.665 898.694 259.617C880.561 257.569 860.425 260.613 838.296 268.719L729.091 308.724L728.622 308.896L728.794 309.366L830.177 586.121L830.349 586.591L830.819 586.419L898.234 561.723L898.703 561.551L898.531 561.081L862.309 462.203L903.629 447.066C926.286 438.766 943.795 427.721 956.123 413.911C968.437 400.119 975.888 385.249 978.451 369.304ZM1213.63 428.678L1213.63 428.678C1239.96 432.79 1266.18 430.064 1292.28 420.504C1318.37 410.944 1340.02 396.138 1357.2 376.085C1374.38 356.031 1385.34 332.87 1390.08 306.611L1390.08 306.608C1394.72 280.079 1392.06 253.236 1382.11 226.089C1372.17 198.943 1356.91 176.868 1336.33 159.876C1316.01 142.791 1292.68 132.191 1266.35 128.078C1240.28 123.868 1214.19 126.547 1188.09 136.107C1162 145.667 1140.22 160.521 1122.78 180.669L1122.78 180.671C1105.6 200.723 1094.51 223.931 1089.51 250.285L1089.51 250.289C1084.77 276.557 1087.38 303.269 1097.32 330.416C1107.27 357.564 1122.58 379.771 1143.26 397.025L1143.26 397.029C1164.1 413.917 1187.56 424.469 1213.63 428.678ZM1313.85 316.914L1313.85 316.919C1306.16 336.302 1291.36 350.019 1269.4 358.064C1247.18 366.206 1226.81 365.519 1208.25 356.049C1189.85 346.215 1176.18 329.154 1167.25 304.799C1158.23 280.178 1157.65 258.323 1165.44 239.196C1173.49 219.979 1188.6 206.295 1210.82 198.153C1232.78 190.108 1252.94 191.021 1271.33 200.85L1271.34 200.854C1289.9 210.329 1303.66 227.208 1312.58 251.562C1321.4 275.652 1321.81 297.425 1313.85 316.914ZM1568.31 1.82801L1568.14 1.35852L1567.67 1.53051L1353.59 79.9511L1353.12 80.1231L1353.3 80.5926L1373.08 134.603L1373.25 135.073L1373.72 134.901L1446.58 108.211L1528.01 330.486L1528.18 330.956L1528.65 330.784L1596.06 306.088L1596.53 305.916L1596.36 305.446L1514.94 83.1706L1587.8 56.4803L1588.26 56.3083L1588.09 55.8388L1568.31 1.82801ZM903.699 375.027C899.685 383.222 891.333 389.694 878.519 394.388L842.324 407.647L817.25 339.2L853.445 325.941C866.259 321.247 876.815 320.792 885.173 324.454C893.539 328.12 899.743 335.381 903.753 346.328C907.763 357.274 907.718 366.824 903.699 375.027Z' stroke='white'/%3E%3C/svg%3E%0A");
    //     //     background-size: cover;
    //     //     background-position: center;
    //     //     width: 100%;
    //     //     height: 100%;
    //     //     position: absolute;
    //     //     left: 0;
    //     //     top: 0;
    //     //     opacity: 0.2;\
    //     // }
    // }
    .container {
        position: relative;
        z-index: 999;
        display: flex;
        flex-flow: wrap;
        @include tablet {
            height: 590px;
            padding-right: 0px;
            padding-left: 0px;
            align-items: center;
        }
        @include mobile {
            padding: 50px 0px;
        }
    }
    .filter {
        content: '';
        min-width: 100%;
        min-height: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__text {
        width: col(37, 37);
        margin-top: 90px;
        @include tablet {
            margin-top: 0px;
            width: col(16, 37);
            margin-left: col(2, 37);
        }
        h3,
        h4,
        h5,
        h6 {
            font-size: 32px;
            line-height: 120%;
            color: white;
            font-weight: 700;
            margin-bottom: 16px;
            @include tablet {
                font-size: 58px;
            }
        }
        p {
            font-size: 14px;
            line-height: 140%;
            color: white;
            margin-bottom: 24px;
            @include tablet {
                font-size: 16px;
            }
            strong {
                font-weight: 700;
            }
        }
        a {
            @include mobile {
                padding: 12px 16px;
                font-size: 14px;
                line-height: 156%;
                text-transform: initial;
            }
        }
    }
    &__img {
        width: 100%;
        position: relative;
        @include mobile {
            width: 70%;
            position: relative;
            right: -50%;
            top: -40px;
        }
        @include tablet {
            top: 70px;
            right: initial;
            width: col(13, 37);
            margin-left: col(4, 37);
            text-align-last: left;
        }
        img {
            width: 220px;
            height: auto;
            @include tablet {
                width: 100%;
            }
        }
    }
}