.information-beginning {
    $p-b: 50px;
    position: relative;
    // background: linear-gradient(190.42deg, rgba(242, 244, 248, 0) 32.81%, #f2f4f8 54.16%, #efefef 92.24%);
    background-color: #f2f4f8;
    display: flex;
    justify-content: center;
    @include tablet {
        padding: 0px 50px $p-b 50px;
        flex-wrap: wrap;
    }
    @include desktop {
        padding: 0;
        padding-bottom: 50px;
    }
    @include mobile {
        flex-wrap: wrap;
        padding-bottom: 60px;
        $p-b: 0;
    }
    .left {
        max-width: 480px;
        display: flex;
        align-items: center;
        padding-bottom: 50px;
        @include desktop {
            padding-bottom: 100px;
        }
        @include mobile {
            padding: 0;
        }
    }
    &__img {
        max-width: 609px;
        width: 100%;
        @include desktop {
            min-width: 600px;
        }
    }
    &__text {
        p {
            font-size: 18px;
            font-weight: 500;
        }
        strong {
            color: $yellow;
        }
    }
}