.quote {
    .container {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    &-slider {
        &__item {
            &__text {
                .quote {
                    position: relative;
                    @include tablet {
                        padding: 0px 80px;
                    }
                    &::before {
                        content: '';
                        display: block;
                        background-image: url("data:image/svg+xml,%3Csvg width='81' height='56' viewBox='0 0 81 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.1' d='M19.9216 55.9128C15.1054 56.3488 10.9459 55.1499 7.44324 52.3161C4.15946 49.2643 1.97027 45.3406 0.875676 40.545C0 36.4033 -0.218919 32.1526 0.218919 27.7929C0.875676 23.2153 2.29865 19.0736 4.48784 15.3678C6.89595 11.4441 10.1797 8.0654 14.3392 5.23161C18.4986 2.39782 23.7527 0.653951 30.1014 0L32.4 8.17439C29.1162 9.04632 25.6135 10.5722 21.8919 12.752C18.1703 14.9319 15.7622 18.6376 14.6676 23.8692L19.5932 22.8883C24.6284 22.6703 28.8973 24.0872 32.4 27.139C36.1216 30.1907 37.9824 34.0055 37.9824 38.5831C37.9824 43.1608 36.2311 47.1935 32.7284 50.6812C29.2257 53.951 24.9568 55.6948 19.9216 55.9128ZM63.2676 55.9128C58.2324 56.3488 54.073 55.1499 50.7892 52.3161C47.5054 49.2643 45.3162 45.3406 44.2216 40.545C43.127 36.4033 42.9081 32.1526 43.5649 27.7929C44.2216 23.2153 45.6446 19.0736 47.8338 15.3678C50.2419 11.4441 53.5257 8.0654 57.6851 5.23161C61.8446 2.39782 66.9892 0.653951 73.1189 0L75.7459 8.17439C72.4622 9.04632 68.85 10.5722 64.9095 12.752C61.1878 14.9319 58.7797 18.6376 57.6851 23.8692C58.5608 23.6512 59.327 23.5422 59.9838 23.5422C60.8595 23.3243 61.8446 23.1063 62.9392 22.8883C67.9743 22.6703 72.2432 24.0872 75.7459 27.139C79.2486 30.1907 81 34.0055 81 38.5831C81 43.1608 79.2486 47.1935 75.7459 50.6812C72.4622 53.951 68.3027 55.6948 63.2676 55.9128Z' fill='%23363485'/%3E%3C/svg%3E%0A");
                        width: 81px;
                        height: 56px;
                        position: absolute;
                        top: 0;
                        left: 0px;
                        @include mobile {
                            background-image: url("data:image/svg+xml,%3Csvg width='36' height='26' viewBox='0 0 81 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.1' d='M19.9216 55.9128C15.1054 56.3488 10.9459 55.1499 7.44324 52.3161C4.15946 49.2643 1.97027 45.3406 0.875676 40.545C0 36.4033 -0.218919 32.1526 0.218919 27.7929C0.875676 23.2153 2.29865 19.0736 4.48784 15.3678C6.89595 11.4441 10.1797 8.0654 14.3392 5.23161C18.4986 2.39782 23.7527 0.653951 30.1014 0L32.4 8.17439C29.1162 9.04632 25.6135 10.5722 21.8919 12.752C18.1703 14.9319 15.7622 18.6376 14.6676 23.8692L19.5932 22.8883C24.6284 22.6703 28.8973 24.0872 32.4 27.139C36.1216 30.1907 37.9824 34.0055 37.9824 38.5831C37.9824 43.1608 36.2311 47.1935 32.7284 50.6812C29.2257 53.951 24.9568 55.6948 19.9216 55.9128ZM63.2676 55.9128C58.2324 56.3488 54.073 55.1499 50.7892 52.3161C47.5054 49.2643 45.3162 45.3406 44.2216 40.545C43.127 36.4033 42.9081 32.1526 43.5649 27.7929C44.2216 23.2153 45.6446 19.0736 47.8338 15.3678C50.2419 11.4441 53.5257 8.0654 57.6851 5.23161C61.8446 2.39782 66.9892 0.653951 73.1189 0L75.7459 8.17439C72.4622 9.04632 68.85 10.5722 64.9095 12.752C61.1878 14.9319 58.7797 18.6376 57.6851 23.8692C58.5608 23.6512 59.327 23.5422 59.9838 23.5422C60.8595 23.3243 61.8446 23.1063 62.9392 22.8883C67.9743 22.6703 72.2432 24.0872 75.7459 27.139C79.2486 30.1907 81 34.0055 81 38.5831C81 43.1608 79.2486 47.1935 75.7459 50.6812C72.4622 53.951 68.3027 55.6948 63.2676 55.9128Z' fill='%23363485'/%3E%3C/svg%3E%0A");
                            width: 36px;
                            height: 26px;
                        }
                    }
                    &::after {
                        content: '';
                        display: block;
                        background-image: url("data:image/svg+xml,%3Csvg width='81' height='56' viewBox='0 0 81 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.1' d='M19.9216 55.9128C15.1054 56.3488 10.9459 55.1499 7.44324 52.3161C4.15946 49.2643 1.97027 45.3406 0.875676 40.545C0 36.4033 -0.218919 32.1526 0.218919 27.7929C0.875676 23.2153 2.29865 19.0736 4.48784 15.3678C6.89595 11.4441 10.1797 8.0654 14.3392 5.23161C18.4986 2.39782 23.7527 0.653951 30.1014 0L32.4 8.17439C29.1162 9.04632 25.6135 10.5722 21.8919 12.752C18.1703 14.9319 15.7622 18.6376 14.6676 23.8692L19.5932 22.8883C24.6284 22.6703 28.8973 24.0872 32.4 27.139C36.1216 30.1907 37.9824 34.0055 37.9824 38.5831C37.9824 43.1608 36.2311 47.1935 32.7284 50.6812C29.2257 53.951 24.9568 55.6948 19.9216 55.9128ZM63.2676 55.9128C58.2324 56.3488 54.073 55.1499 50.7892 52.3161C47.5054 49.2643 45.3162 45.3406 44.2216 40.545C43.127 36.4033 42.9081 32.1526 43.5649 27.7929C44.2216 23.2153 45.6446 19.0736 47.8338 15.3678C50.2419 11.4441 53.5257 8.0654 57.6851 5.23161C61.8446 2.39782 66.9892 0.653951 73.1189 0L75.7459 8.17439C72.4622 9.04632 68.85 10.5722 64.9095 12.752C61.1878 14.9319 58.7797 18.6376 57.6851 23.8692C58.5608 23.6512 59.327 23.5422 59.9838 23.5422C60.8595 23.3243 61.8446 23.1063 62.9392 22.8883C67.9743 22.6703 72.2432 24.0872 75.7459 27.139C79.2486 30.1907 81 34.0055 81 38.5831C81 43.1608 79.2486 47.1935 75.7459 50.6812C72.4622 53.951 68.3027 55.6948 63.2676 55.9128Z' fill='%23363485'/%3E%3C/svg%3E%0A");
                        width: 81px;
                        height: 56px;
                        position: absolute;
                        transform: rotate(180deg);
                        bottom: 0;
                        right: 0;
                        @include mobile {
                            background-image: url("data:image/svg+xml,%3Csvg width='36' height='26' viewBox='0 0 81 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.1' d='M19.9216 55.9128C15.1054 56.3488 10.9459 55.1499 7.44324 52.3161C4.15946 49.2643 1.97027 45.3406 0.875676 40.545C0 36.4033 -0.218919 32.1526 0.218919 27.7929C0.875676 23.2153 2.29865 19.0736 4.48784 15.3678C6.89595 11.4441 10.1797 8.0654 14.3392 5.23161C18.4986 2.39782 23.7527 0.653951 30.1014 0L32.4 8.17439C29.1162 9.04632 25.6135 10.5722 21.8919 12.752C18.1703 14.9319 15.7622 18.6376 14.6676 23.8692L19.5932 22.8883C24.6284 22.6703 28.8973 24.0872 32.4 27.139C36.1216 30.1907 37.9824 34.0055 37.9824 38.5831C37.9824 43.1608 36.2311 47.1935 32.7284 50.6812C29.2257 53.951 24.9568 55.6948 19.9216 55.9128ZM63.2676 55.9128C58.2324 56.3488 54.073 55.1499 50.7892 52.3161C47.5054 49.2643 45.3162 45.3406 44.2216 40.545C43.127 36.4033 42.9081 32.1526 43.5649 27.7929C44.2216 23.2153 45.6446 19.0736 47.8338 15.3678C50.2419 11.4441 53.5257 8.0654 57.6851 5.23161C61.8446 2.39782 66.9892 0.653951 73.1189 0L75.7459 8.17439C72.4622 9.04632 68.85 10.5722 64.9095 12.752C61.1878 14.9319 58.7797 18.6376 57.6851 23.8692C58.5608 23.6512 59.327 23.5422 59.9838 23.5422C60.8595 23.3243 61.8446 23.1063 62.9392 22.8883C67.9743 22.6703 72.2432 24.0872 75.7459 27.139C79.2486 30.1907 81 34.0055 81 38.5831C81 43.1608 79.2486 47.1935 75.7459 50.6812C72.4622 53.951 68.3027 55.6948 63.2676 55.9128Z' fill='%23363485'/%3E%3C/svg%3E%0A");
                            width: 36px;
                            height: 26px;
                        }
                    }
                }
                h3 {
                    font-size: 25px;
                    line-height: 120%;
                    text-align: center;
                    color: $purple;
                    position: relative;
                    @include tablet {
                        font-size: 48px;
                    }
                }
                p {
                    font-size: 24px;
                    line-height: 36px;
                    text-align: center;
                    color: #888d92;
                    @include mobile {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}