$primary: #ff2d4f;
$primary-hover: #ff2347;
$purple: #363485;
$green: #0ca64e;
$red: #ff2d4f;
$blue: #007cc4;
$yellow: #ffb600;
$darkGray: #121526;
$gray: #383a3f;
$lightgray: #f6f9ff;
$shadow: -0px 6px 20px rgba(0, 0, 0, 0.25);
$primary-text: 'Poppins',
Arial,
Helvetica,
sans-serif;
$poppins: 'Poppins',
Arial,
Helvetica,
sans-serif;
$gradient: linear-gradient(180deg, rgba(12, 166, 78, 0.8) 0%, rgba(20, 141, 180, 0.8) 100%);
$overlay: linear-gradient(90deg, rgba(35, 28, 19, 0.6) 24.32%, rgba(47, 37, 25, 0) 100.16%);